@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@200;400;500;600;700&display=swap");

/* main usable styles */
:root {
  --main-font: "Dosis", sans-serif;
  --light-bg: #1b2430;
  --main-color: #e94560;
  --font-color: #fff;
  --transition: 0.7s;
  --border: 2px solid rgb(51, 51, 51);
}

/* reset margin and padding */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font);
  color: var(--font-color);
}

/* start styling scrollbar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
}
::-webkit-scrollbar-thumb {
  background: var(--light-bg);
  border-radius: 10px;
}
/* end styling scrollbar */

/* start styling toUp btn */
.to-up {
  cursor: pointer;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  z-index: 100;
  background-color: var(--main-color);
  color: var(--font-color);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  display: none;
  align-items: center;
  justify-content: center;
  animation: mover 1s infinite alternate;
  -webkit-animation: mover 1s infinite alternate;
}

.to-up-active {
  display: flex;
  color: var(--font-color);
}

.to-up-active:hover {
  animation: none;
  -webkit-animation: none;
}
/* end styling toUp btn */

/* start styling animated loading page */
.loadingPage {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: var(--light-bg);
  z-index: 2222;
}

.loadingPage-active {
  display: flex;
}
.loadingPage-slide {
  animation: slide-up 2s ease;
  -webkit-animation: slide-up 2s ease;
}

.loadingPage img {
  display: block;
  width: 50px;
  height: 50px;
  transition: var(--transition);
  animation: rotation 3s alternate, fade-out 3s alternate;
  -webkit-animation: rotation 3s alternate, fade-out 3s alternate;
}
/* end styling animated loading page */

/* start styling navBar and its components */
.navBar {
  position: fixed;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--light-bg);
  width: 70%;
  border-radius: 6px;
  z-index: 1111;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  font-size: 16px;
}

.fixedNav {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  background-color: var(--light-bg);
  border-radius: 6px;
  transform: none;
  -webkit-transform: ;
  -moz-transform: ;
  -ms-transform: ;
  -o-transform: ;
  transition: var(--transition);
}

.logo {
  width: 2.5rem;
}

#navBar .container ul {
  margin: 0 !important;
}

#navBar .container ul li {
  list-style: none;
}

#navBar .container ul li a {
  display: block;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.55);
  font-weight: bold;
  font-size: 16px;
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

#navBar .container ul li:hover a {
  color: var(--main-color);
  transform: translateY(-15%);
  -webkit-transform: translateY(-15%);
  -moz-transform: translateY(-15%);
  -ms-transform: translateY(-15%);
  -o-transform: translateY(-15%);
}

.logout {
  cursor: pointer;
}

.burgerMenu {
  display: none;
  background-color: transparent;
  border: none;
  border-radius: 8px;
  color: #fb8d8e;
  font-size: 26px;
  padding: 5px 15px;
}

.burgerMenu:focus {
  border: var(--border);
}

.linkGroup {
  display: flex;
}
.addlinkGroup {
  display: flex;
}

/* end styling navBar and its components */

/* start styling home section */
#home {
  background-image: url(../image/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.overlay {
  background-color: rgba(0, 0, 0, 0.9);
  height: 100%;
}

.homeData {
  height: 100%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homeText {
  font-size: 20px;
  font-weight: 300;
}

#home .overlay .homeData span {
  color: var(--main-color);
}

/* start styling home section */

/* start styling about section */
#about .aboutCard {
  transition: var(--transition);
  position: relative;
  overflow: hidden;
  cursor: pointer;
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

#about .aboutCard:after {
  content: "";
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  left: -100%;
  transition: var(--transition) ease-in-out;
  z-index: -1;
  transform: skewX(180deg);
  -webkit-transform: skewX(180deg);
  -moz-transform: skewX(180deg);
  -ms-transform: skewX(180deg);
  -o-transform: skewX(180deg);
  -webkit-transition: var(--transition) ease-in-out;
  -moz-transition: var(--transition) ease-in-out;
  -ms-transition: var(--transition) ease-in-out;
  -o-transition: var(--transition) ease-in-out;
}

#about .aboutCard:hover:after {
  transform: skewX(0deg);
  left: 0;
  -webkit-transform: skewX(0deg);
  -moz-transform: skewX(0deg);
  -ms-transform: skewX(0deg);
  -o-transform: skewX(0deg);
  background-color: var(--main-color);
}

#about .aboutCard:hover {
  transform: translateY(-5%);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
  -webkit-transform: translateY(-5%);
  -moz-transform: translateY(-5%);
  -ms-transform: translateY(-5%);
  -o-transform: translateY(-5%);
}
/* end styling about section */

/* start styling categories section */
#categories {
  min-height: 100vh;
  background: var(--light-bg);
  color: var(--font-color);
}

#categories h3 {
  border-bottom: solid 2px var(--main-color);
  font-size: 2rem;
}

#categories .image img {
  height: 60vh;
}

/* end styling categories section */

/* start styling changedNumbers part*/
.changedNumbers {
  background-image: url(../image/bg.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  height: fit-content;
}

.changedBox {
  width: 8rem;
  height: 8rem;
  padding-top: 1rem;
  position: relative;
  margin: auto;
}

.number {
  color: var(--main-color);
}

.changedBox::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  box-shadow: 1px 1px 10px var(--main-color);
  border: 1px solid var(--main-color);
  transition: var(--transition);
  -webkit-transition: var(--transition);
  -moz-transition: var(--transition);
  -ms-transition: var(--transition);
  -o-transition: var(--transition);
}

.changedBox:hover::after {
  transform: rotate(90deg);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
}
/* end styling changedNumbers part*/

/* start styling footer section*/
.name {
  color: var(--main-color);
  font-weight: 600;
}

.icon {
  font-size: 22px;
  color: var(--font-color);
  transition: 0.7s;
}

.icon:hover {
  color: var(--main-color);
}
/* end styling footer section*/

/* start animation keyframes */
@keyframes rotation {
  0% {
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -o-transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes slide-up {
  0% {
    height: 100vh;
  }
  100% {
    height: 0vh;
  }
}

@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-10px);
  }
}
/* end animation keyframes */

/* start customize main page response */
@media (min-width: 560px) and (max-width: 768px) {
  body {
    font-size: 24px;
  }
  #home .overlay .homeData h1 {
    font-size: 3rem !important;
  }
  #about .caption {
    text-align: justify;
  }
  .to-up {
    width: 3rem;
    height: 3rem;
  }
  .top {
    font-size: 2.2rem;
  }
  .navBar {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: var(--light-bg);
    border-radius: 6px;
    transform: none;
    -webkit-transform: ;
    -moz-transform: ;
    -ms-transform: ;
    -o-transform: ;
    transition: var(--transition);
    font-size: 18px;
  }

  .burgerMenu {
    display: flex !important;
  }
  .linkGroup {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: var(--light-bg);
    width: 100%;
    height: fit-content;
    top: 98px;
    left: 0;
    margin: 0;
    padding: 0 !important;
  }
  #navBar .container .linkGroup li {
    padding-top: 4px;
    padding-bottom: 4px;
    width: 80%;
    text-align: center;
    border-top: solid 1px var(--main-color);
  }
  #navBar .container ul li a {
    font-size: 20px;
  }
  .addlinkGroup {
    display: none;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: var(--light-bg);
    width: 100%;
    height: fit-content;
    top: 68px;
    left: 0;
    margin: 0;
    padding-bottom: 2px;
    padding-left: 0;
  }
  .addlinkGroup li {
    border-bottom: solid 1px var(--main-color);
  }
}
@media (max-width: 560px) {
  body {
    font-size: 24px;
  }
  #home .overlay .homeData h1 {
    font-size: 2rem !important;
  }
  #about .caption {
    text-align: justify;
  }
  #categories .image img {
    height: 30vh;
  }
  .to-up {
    width: 3rem;
    height: 3rem;
  }
  .top {
    font-size: 2.2rem;
  }
  .navBar {
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    background-color: var(--light-bg);
    border-radius: 6px;
    transform: none;
    -webkit-transform: ;
    -moz-transform: ;
    -ms-transform: ;
    -o-transform: ;
    transition: var(--transition);
    font-size: 18px;
  }
  .burgerMenu {
    display: flex !important;
  }
  .linkGroup {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: var(--light-bg);
    width: 100%;
    height: fit-content;
    top: 92px;
    left: 0;
    margin: 0;
    padding: 0 !important;
  }
  #navBar .container .linkGroup li {
    padding-top: 6px;
    padding-bottom: 6px;
    width: 80%;
    text-align: center;
    border-top: solid 1px var(--main-color);
  }
  #navBar .container ul li a {
    font-size: 18px;
  }
  .addlinkGroup {
    display: none;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    background-color: var(--light-bg);
    width: 100%;
    height: fit-content;
    top: 66px;
    left: 0;
    margin: 0;
    padding-bottom: 2px;
    padding-left: 0;
  }
  .addlinkGroup li {
    border-bottom: solid 1px var(--main-color);
  }
}
/* end customize main page response */

.flex {
  display: flex !important;
}
